<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="main.css" />

    <!-- Fonts & Icons -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <title>My Contacts</title>
  </head>

  <body>
    <!-- Navbar -->

    <nav>
      <a class="logo" href="/index.html">
        <i class="fas fa-user-circle"></i>&nbsp;Contacts
      </a>
      <form class="form-inline my-2" action="search.html">
        <input
          class="form-control"
          type="text"
          placeholder="Find contacts..."
        />
        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </nav>
    <!-- Navbar ends -->
    <br />

    <!-- Main Section -->
    <div class="container">
      <h2 class="heading font-weight-light text-center">Card Heading</h2>
      <hr />
    </div>
    <div class="container main-part">
      <!-- Card for details -->
      <div class="card my-2 boy-card w-25 mx-auto">
        <img src="https://placeimg.com/230/130/people" class="img-fluid" />
        <div class="card-header">
          <a href="#" class="text-white header-link"
            ><i class="fas fa-mars mr-2"></i> John Wood</a
          >
        </div>
        <div class="card-body pb-0">
          <p>
            <i class="fas fa-at mr-2"></i>
            <a href="mailto:johonwood@gmail.com">johonwood@gmail.com</a>
          </p>
          <p>
            <i class="fas fa-phone mr-2"></i>
            <a href="tel:9001010100">9001010100</a>
          </p>
          <p><i class="fas fa-info-circle mr-2"></i> Friend</p>
        </div>
      </div>
    </div>
    <!-- Main Section ends-->

    <!-- footer -->
    <footer class="mt-4 p-2">
      <p class="text-center p-1 m-0">&copy; My Contacts 2019</p>
    </footer>
    <!-- footer ends -->
  </body>
</html>
